doctype html
html(ng-app="pollApp")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        script(src='/modules/chart.js/Chart.min.js')
        script(src='/modules/angular/angular.min.js', type='text/javascript')
        script(src='/modules/angular-chart.js/angular-chart.js')
        script(src='/socket.io/socket.io.js')
        // script(src="/modules/jquery/src/jquery.js")
        script(src="/controllers/main.js")
        script(src="/controllers/body_controller.js")
        script(src="/controllers/poll_controllers.js")
    body(ng-controller="bodyController")
        p {{ test }}
        block content